In [1]:
import numpy as np
# ^^^ pyforest auto-imports - don't write above this line
pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.reset_option("display.max_rows", "display.max_columns")

In [2]:
df = pd.read_csv('REMS_Mars_Dataset.csv')

In [3]:
# Show the first 5 rows of the data frame
df.head()

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
0,"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
1,"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
2,"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,Value not available,Value not available,05:25,17:21,moderate,Sunny
3,"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,Value not available,Value not available,05:26,17:21,moderate,Sunny
4,"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,Value not available,Value not available,05:26,17:21,moderate,Sunny

In [4]:
df.describe()

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
count,3197,3197,3197,3197,3197,3197,3197,3197,3197,3197,3197,3197,3170,3197
unique,3197,360,3197,52,40,51,78,224,1,1,90,96,4,2
top,"Earth, 2014-10-19 UTC","Mars, Month 6 - LS 160°",Sol 1307,-6,-79,6,-78,873,Value not available,Value not available,05:18,17:20,moderate,Sunny
freq,1,12,1,130,221,154,165,47,3197,3197,170,199,1450,3194

In [5]:
# setting the index to earth date time to read easier 
df = df.set_index('earth_date_time')
df.head()

,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
earth_date_time,,,,,,,,,,,,,
"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,Value not available,Value not available,05:25,17:21,moderate,Sunny
"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,Value not available,Value not available,05:26,17:21,moderate,Sunny
"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,Value not available,Value not available,05:26,17:21,moderate,Sunny

In [6]:
df.describe()

,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
count,3197,3197,3197,3197,3197,3197,3197,3197,3197,3197,3197,3170,3197
unique,360,3197,52,40,51,78,224,1,1,90,96,4,2
top,"Mars, Month 6 - LS 160°",Sol 1307,-6,-79,6,-78,873,Value not available,Value not available,05:18,17:20,moderate,Sunny
freq,12,1,130,221,154,165,47,3197,3197,170,199,1450,3194

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3197 entries, Earth, 2022-01-26 UTC to Earth, 2012-08-07 UTC
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   mars_date_time       3197 non-null   object
 1   sol_number           3197 non-null   object
 2   max_ground_temp(°C)  3197 non-null   object
 3   min_ground_temp(°C)  3197 non-null   object
 4   max_air_temp(°C)     3197 non-null   object
 5   min_air_temp(°C)     3197 non-null   object
 6   mean_pressure(Pa)    3197 non-null   object
 7   wind_speed(m/h)      3197 non-null   object
 8   humidity(%)          3197 non-null   object
 9   sunrise              3197 non-null   object
 10  sunset               3197 non-null   object
 11  UV_Radiation         3170 non-null   object
 12  weather              3197 non-null   object
dtypes: object(13)
memory usage: 349.7+ KB

In [7]:
# % of values missing in each column
values_list = list()
cols_list = list()
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())*100
    cols_list.append(col)
    values_list.append(pct_missing)
pct_missing_df = pd.DataFrame()
pct_missing_df['col'] = cols_list
pct_missing_df['pct_missing'] = values_list

In [9]:
# no missing data
pct_missing_df

                    col  pct_missing
0        mars_date_time     0.000000
1            sol_number     0.000000
2   max_ground_temp(°C)     0.000000
3   min_ground_temp(°C)     0.000000
4      max_air_temp(°C)     0.000000
5      min_air_temp(°C)     0.000000
6     mean_pressure(Pa)     0.000000
7       wind_speed(m/h)     0.000000
8           humidity(%)     0.000000
9               sunrise     0.000000
10               sunset     0.000000
11         UV_Radiation     0.844542
12              weather     0.000000

In [11]:
df

,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
earth_date_time,,,,,,,,,,,,,
"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,Value not available,Value not available,05:25,17:21,moderate,Sunny
"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,Value not available,Value not available,05:26,17:21,moderate,Sunny
"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,Value not available,Value not available,05:26,17:21,moderate,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Earth, 2012-08-18 UTC","Mars, Month 6 - LS 156°",Sol 12,-18,-76,8,-82,741,Value not available,Value not available,05:28,17:21,very_high,Sunny
"Earth, 2012-08-17 UTC","Mars, Month 6 - LS 156°",Sol 11,-11,-76,9,-83,740,Value not available,Value not available,05:28,17:21,very_high,Sunny
"Earth, 2012-08-16 UTC","Mars, Month 6 - LS 155°",Sol 10,-16,-75,8,-83,739,Value not available,Value not available,05:28,17:22,very_high,Sunny
"Earth, 2012-08-15 UTC","Mars, Month 6 - LS 155°",Sol 9,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,05:28,17:22,NaN,Sunny
"Earth, 2012-08-07 UTC","Mars, Month 6 - LS 150°",Sol 1,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,05:30,17:22,NaN,Sunny

In [19]:
# script that removes space from entire data frame
# Creating a function which will remove extra leading
# and tailing whitespace from the data.
# pass dataframe as a parameter here
def whitespace_remover(df):
   
    # iterating over the columns
    for i in df.columns:
         
        # checking datatype of each columns
        if df[i].dtype == 'float':
             
            # applying strip function on column
            df[i] = df[i].map(str.strip)
        else:
             
            # if condn. is False then it will do nothing.
            pass
 
# applying whitespace_remover function on dataframe
whitespace_remover(df)
 
# printing dataframe
print(df)

                                mars_date_time sol_number  \
earth_date_time
Earth, 2022-01-26 UTC  Mars, Month 6 - LS 163°   Sol 3368
Earth, 2022-01-25 UTC  Mars, Month 6 - LS 163°   Sol 3367
Earth, 2022-01-24 UTC  Mars, Month 6 - LS 162°   Sol 3366
Earth, 2022-01-23 UTC  Mars, Month 6 - LS 162°   Sol 3365
Earth, 2022-01-22 UTC  Mars, Month 6 - LS 161°   Sol 3364
...                                        ...        ...
Earth, 2012-08-18 UTC  Mars, Month 6 - LS 156°     Sol 12
Earth, 2012-08-17 UTC  Mars, Month 6 - LS 156°     Sol 11
Earth, 2012-08-16 UTC  Mars, Month 6 - LS 155°     Sol 10
Earth, 2012-08-15 UTC  Mars, Month 6 - LS 155°      Sol 9
Earth, 2012-08-07 UTC  Mars, Month 6 - LS 150°      Sol 1

                       max_ground_temp(°C)  min_ground_temp(°C)  \
earth_date_time
Earth, 2022-01-26 UTC                   -3                  -71
Earth, 2022-01-25 UTC                   -3                  -72
Earth, 2022-01-24 UTC                   -4                  -70
Earth, 2022-01-23 UTC                   -6                  -70
Earth, 2022-01-22 UTC                   -7                  -71
...                                    ...                  ...
Earth, 2012-08-18 UTC                  -18                  -76
Earth, 2012-08-17 UTC                  -11                  -76
Earth, 2012-08-16 UTC                  -16                  -75
Earth, 2012-08-15 UTC  Value not available  Value not available
Earth, 2012-08-07 UTC  Value not available  Value not available

                          max_air_temp(°C)     min_air_temp(°C)  \
earth_date_time
Earth, 2022-01-26 UTC                   10                  -84
Earth, 2022-01-25 UTC                   10                  -87
Earth, 2022-01-24 UTC                    8                  -81
Earth, 2022-01-23 UTC                    9                  -91
Earth, 2022-01-22 UTC                    8                  -92
...                                    ...                  ...
Earth, 2012-08-18 UTC                    8                  -82
Earth, 2012-08-17 UTC                    9                  -83
Earth, 2012-08-16 UTC                    8                  -83
Earth, 2012-08-15 UTC  Value not available  Value not available
Earth, 2012-08-07 UTC  Value not available  Value not available

                         mean_pressure(Pa)      wind_speed(m/h)  \
earth_date_time
Earth, 2022-01-26 UTC                  707  Value not available
Earth, 2022-01-25 UTC                  707  Value not available
Earth, 2022-01-24 UTC                  708  Value not available
Earth, 2022-01-23 UTC                  707  Value not available
Earth, 2022-01-22 UTC                  708  Value not available
...                                    ...                  ...
Earth, 2012-08-18 UTC                  741  Value not available
Earth, 2012-08-17 UTC                  740  Value not available
Earth, 2012-08-16 UTC                  739  Value not available
Earth, 2012-08-15 UTC  Value not available  Value not available
Earth, 2012-08-07 UTC  Value not available  Value not available

                               humidity(%) sunrise sunset UV_Radiation weather
earth_date_time
Earth, 2022-01-26 UTC  Value not available   05:25  17:20     moderate   Sunny
Earth, 2022-01-25 UTC  Value not available   05:25  17:20     moderate   Sunny
Earth, 2022-01-24 UTC  Value not available   05:25  17:21     moderate   Sunny
Earth, 2022-01-23 UTC  Value not available   05:26  17:21     moderate   Sunny
Earth, 2022-01-22 UTC  Value not available   05:26  17:21     moderate   Sunny
...                                    ...     ...    ...          ...     ...
Earth, 2012-08-18 UTC  Value not available   05:28  17:21    very_high   Sunny
Earth, 2012-08-17 UTC  Value not available   05:28  17:21    very_high   Sunny
Earth, 2012-08-16 UTC  Value not available   05:28  17:22    very_high   Sunny
Earth, 2012-08-15 UTC  Value not available   05:28  17:22          NaN   Sunny
Earth, 2012-08-07 UTC  Value not available   05:30  17:22          NaN   Sunny

[3197 rows x 13 columns]

In [20]:
df

,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
earth_date_time,,,,,,,,,,,,,
"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,Value not available,Value not available,05:25,17:21,moderate,Sunny
"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,Value not available,Value not available,05:26,17:21,moderate,Sunny
"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,Value not available,Value not available,05:26,17:21,moderate,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Earth, 2012-08-18 UTC","Mars, Month 6 - LS 156°",Sol 12,-18,-76,8,-82,741,Value not available,Value not available,05:28,17:21,very_high,Sunny
"Earth, 2012-08-17 UTC","Mars, Month 6 - LS 156°",Sol 11,-11,-76,9,-83,740,Value not available,Value not available,05:28,17:21,very_high,Sunny
"Earth, 2012-08-16 UTC","Mars, Month 6 - LS 155°",Sol 10,-16,-75,8,-83,739,Value not available,Value not available,05:28,17:22,very_high,Sunny
"Earth, 2012-08-15 UTC","Mars, Month 6 - LS 155°",Sol 9,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,05:28,17:22,NaN,Sunny
"Earth, 2012-08-07 UTC","Mars, Month 6 - LS 150°",Sol 1,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,05:30,17:22,NaN,Sunny

In [24]:
df.dtypes

mars_date_time         object
sol_number             object
max_ground_temp(°C)    object
min_ground_temp(°C)    object
max_air_temp(°C)       object
min_air_temp(°C)       object
mean_pressure(Pa)      object
wind_speed(m/h)        object
humidity(%)            object
sunrise                object
sunset                 object
UV_Radiation           object
weather                object
dtype: object

In [31]:
df['max_ground_temp(°C)']=df['max_ground_temp(°C)'].map(lambda x: x.replace("Value not available", 'NAN'))

In [32]:
df

,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),wind_speed(m/h),humidity(%),sunrise,sunset,UV_Radiation,weather
earth_date_time,,,,,,,,,,,,,
"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,Value not available,Value not available,05:25,17:20,moderate,Sunny
"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,Value not available,Value not available,05:25,17:21,moderate,Sunny
"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,Value not available,Value not available,05:26,17:21,moderate,Sunny
"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,Value not available,Value not available,05:26,17:21,moderate,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Earth, 2012-08-18 UTC","Mars, Month 6 - LS 156°",Sol 12,-18,-76,8,-82,741,Value not available,Value not available,05:28,17:21,very_high,Sunny
"Earth, 2012-08-17 UTC","Mars, Month 6 - LS 156°",Sol 11,-11,-76,9,-83,740,Value not available,Value not available,05:28,17:21,very_high,Sunny
"Earth, 2012-08-16 UTC","Mars, Month 6 - LS 155°",Sol 10,-16,-75,8,-83,739,Value not available,Value not available,05:28,17:22,very_high,Sunny
"Earth, 2012-08-15 UTC","Mars, Month 6 - LS 155°",Sol 9,,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,05:28,17:22,NaN,Sunny
"Earth, 2012-08-07 UTC","Mars, Month 6 - LS 150°",Sol 1,,Value not available,Value not available,Value not available,Value not available,Value not available,Value not available,05:30,17:22,NaN,Sunny